@font-face {
	font-family: 'Migu1C';
	src: url("assets/migu-1c-regular.ttf");
}

:root {
  font-family: Migu1C, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
}

.view {
  width: auto;
  height: 100%; 
  opacity: 0;
  transition: 0.4s;
}

.text {
  font-size: small;
  position: fixed;
  right: 20px;
  bottom: 0px;
  background: #000;
  padding: 0 5px 3px 5px;
  border-radius: 3px;
  opacity: 0;
  transition: 0.3s;
}

.Drawer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Drawer-backdrop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Drawer-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 280px;
}

.Nav {
  overflow: auto;
  background: #eee;
  padding: 40px;
}

.Drawer[aria-expanded] {
  transition-property: visibility;
  transition-duration: 0.25s;
}

.Drawer[aria-expanded] .Drawer-backdrop {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.Drawer[aria-expanded] .Drawer-nav {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.Drawer[aria-expanded="true"] {
  visibility: visible;
}

.Drawer[aria-expanded="true"] .Drawer-backdrop {
  opacity: 1;
}

.Drawer[aria-expanded="true"] .Drawer-nav {
  transform: translateX(0);
}

.Drawer[aria-expanded="false"] {
  visibility: hidden;
}

.Drawer[aria-expanded="false"] .Drawer-backdrop {
  opacity: 0;
}

.Drawer[aria-expanded="false"] .Drawer-nav {
  transform: translateX(100%);
}

h1 {
  font-weight: bold;
}

label {
  display: block;
  margin-top: 10px;
}

label:after {
  content: ": ";
}

input {
  width: 240px;
  border: 2px solid #aaa;
  padding: 6px 4px;
  color: #4a4a4a;
  background-color: #fff;
}

button {
  padding: 4px 6px;
  margin: 0;
  vertical-align: bottom;
}

input[name=path] {
  width: 211px;
  margin-right: -4px;
  border-right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  margin: -6px -4px -6px 0;
}

.toggle-button {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  border: 3px solid #dddddd;
  box-sizing: content-box;
  cursor: pointer;
  transition: border-color .4s;
  margin-top: 0;
}

.toggle-button:has(:checked) {
  border-color: #4bd865;
}

.toggle-button::after {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dddddd;
  content: '';
  transition: left .4s;
}

.toggle-button:has(:checked)::after {
  left: 25px;
  background-color: #4bd865;
}

.toggle-button input {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .Nav {
    color: #fafafa;
    background-color: #333;
  }

  input {
    color: #fff;
    background-color: #4a4a4a;
  }
}
